{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Create new post</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% if not user.userprofile %}
    <h1>Create your Userprofile first!</h1>
    <br>
    <p class="form-width">Before writing your first thrilling post, please create
        your user profile to let other people know a little bit more about yourself.
        You can do this by either selecting <strong>My Profile</strong> >
        <strong>Create Profile</strong> on the
        navbar or by clicking on the "Create your profile" button below.</p>
    <br>
    <a class="btn btn-outline-success"
       href="{% url 'create-profile' username=user.username %}">Create your profile</a>
    {% else %}
    <h1>Create new post</h1>


    <form method="post" enctype="multipart/form-data">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Create post</button>
        </div>
    </form>

    <br>
    {% endif %}
</div>
{% endblock content %}