{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <form class="d-flex align-items-center ms-3 mt-4" method="get">
                {{ filter.form }}
                <button type="submit" class="btn btn-outline-secondary ms-2">Filter</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 pt-1 ms-3">
            <p class="mt-4 lead">Total number of posts: <strong class="hello-user">{{ page_obj.paginator.count }}</strong></p>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% if post_list %}
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                     src="{% static 'blog/img/default_post_image.jpg' %}">
                                {% else %}
                                <img class="card-img-top"
                                     src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author"><a href="{% url 'author-bio' author_name=post.author %}"
                                                         class="text-white text-decoration-none post-list-card">
                                        {{ post.author }}</a> |
                                        <a href="{% url 'show-country' post.country.slug %}"
                                           class="text-white text-decoration-none post-list-card">{{ post.country }}</a>
                                    </p>
                                </div>
                            </div>
                            <a href="{% url 'post-details' slug=post.slug %}"
                               class="post-link post-list-title">
                                <h5 class="card-title mt-2">{{ post.title | truncatechars:30 | title }}</h5>
                                <p class="card-text">{{ post.excerpt | truncatechars:40 }}</p>
                            </a>
                            <hr/>
                            <p class="card-text text-muted h6"><abbr title="date when the post was created">{{ post.created_on }}</abbr>
                                <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
                {% else %}
                <h1>No posts found</h1>
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"
                   class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"
                   class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}