{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Update post</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h1 class="form-heading">Update post</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Update post</button>
            <a href="{% url 'post-details' slug=post.slug %}"
                   class="btn btn-outline-success">Reject</a>
        </div>
    </form>
    <br>
</div>
{% endblock content %}