{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Author bio</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2 d-flex flex-column align-items-center text-center">
                {% if 'placeholder' in userprofile.profile_picture.url and userprofile.gender == 'Female' %}
                <img src="{% static 'accounts/img/placeholder_f.jpg' %}" class="mt-3 mt-3 d-block img-fluid"
                     alt="Female silhouette">
                {% elif 'placeholder' in userprofile.profile_picture.url and userprofile.gender == 'Male' %}
                <img src="{% static 'accounts/img/placeholder_m.jpg' %}" class="mt-3 mt-3 d-block img-fluid"
                     alt="Male silhouette">
                {% elif 'placeholder' in userprofile.profile_picture.url and userprofile.gender == 'Other' %}
                <img src="{% static 'accounts/img/placeholder_o.jpg' %}" class="mt-3 mt-3 d-block img-fluid"
                     alt="Genderless silhouette">
                {% else %}
                <img src="{{ userprofile.profile_picture.url }}" class="mt-3 d-block img-fluid"
                     alt="User image">
                {% endif %}
                {% if user.is_authenticated and user.id == userprofile.user.id %}
                    <a href="{% url 'update-profile' username=user.username %}" class="btn btn-outline-success mt-4">Update
                        profile</a>
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ author.first_name }}
                        {{ author.last_name }}</h5>
                    <p class="card-text">{{ userprofile.bio|safe }}</p>
                    <p class="card-text">Home country:
                        <span style="text-transform: uppercase;">
                            {{ userprofile.home_country }}</span>
                    </p>
                    <p class="card-text">Gender: <span
                            style="text-transform: uppercase;">
                        {{ userprofile.gender }}</span></p>
                    <p class="card-text">Date of birth:
                        <span style="text-transform: uppercase;">
                            {{ userprofile.date_of_birth }}</span>
                    </p>
                    <p class="card-text text-muted">
                        {% if not userprofile.instagram_profile and not userprofile.twitter_profile and not userprofile.linkedin_profile and not userprofile.facebook_profile %}

                        {% else %}
                        Follow me:
                        {% if userprofile.instagram_profile %}
                        <a href="{{ userprofile.instagram_profile }}" class="follow-me" target="_blank"><i
                                class="fa-brands fa-square-instagram ms-3"></i></a>
                        {% endif %}

                        {% if userprofile.twitter_profile %}
                        <a href="{{ userprofile.twitter_profile }}" class="follow-me" target="_blank"><i
                                class="fa-brands fa-square-x-twitter ms-3"></i></a>
                        {% endif %}

                        {% if userprofile.linkedin_profile %}
                        <a href="{{ userprofile.linkedin_profile }}" class="follow-me" target="_blank"><i
                                class="fa-brands fa-linkedin ms-3"></i></a>
                        {% endif %}

                        {% if userprofile.facebook_profile %}
                        <a href="{{ userprofile.facebook_profile }}" class="follow-me" target="_blank"><i
                                class="fa-brands fa-square-facebook ms-3"></i></a>
                        {% endif %}

                        {% endif %}
                    </p>

                    <h1 class="mt-4">My published posts:</h1>
                    <table class="table table-striped mt-4">
                        <tr>
                            <th>Title</th>
                            <th>Country</th>
                            <th>Created on</th>
                        </tr>
                    {% for post in post_list %}
                        {% if post.status == 2 %}
                        <tr>
                            <td><a href="{% url 'post-details' slug=post.slug %}"
                                   class="post-link text-decoration-underline post-list-title">{{post.title}}</a></td>
                            <td>{{post.country}}</td>
                            <td>{{post.created_on}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}