{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Change password</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <h1  class="form-heading">Change password</h1>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Error:</strong>Please, correct the following errors:
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Change password</button>
            <a href="javascript:history.back()"
                   class="btn btn-outline-success">Reject</a>
        </div>
    </form>
    <br>
</div>
{% endblock content %}