{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Create profile</title>
{% endblock title %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jQuery UI library with Datepicker -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock jquery %}

{% block datepicker %}
<script src="{% static 'accounts/js/date_picker.js' %}"></script>
{% endblock datepicker %}

{% block content %}

<div class="container">
    {% if not user.userprofile %}
    <br>
    <h1 class="form-heading">Create profile</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Create profile</button>
        </div>
    </form>

    <br>
    {% else %}
    <div class="alert alert-danger mt-3" role="alert">
        You have already created your profile!
    </div>
    <a class="btn btn-outline-success mt-3"
       href="{% url 'update-profile' username=user.username %}">Update
        profile</a>
    {% endif %}
</div>

{% endblock content %}