{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Create profile</title>
{% endblock title %}

{% block content %}

<div class="container">
    {% if not user.userprofile %}
    <br>
    <h1 class="form-heading">Create profile</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Create profile</button>
        </div>
    </form>

    <br>
    {% else %}
    <div class="alert alert-danger mt-3" role="alert">
        You have already created your profile!
    </div>
    <a class="btn btn-outline-success mt-3"
       href="{% url 'update-profile' username=user.username %}">Update
        profile</a>
    {% endif %}
</div>

{% endblock content %}