{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Register new account</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
        You have already registered your account!
    </div>
    <a class="btn btn-outline-success mt-3"
                       href="{% url 'home' %}">Home</a>
    {% else %}
    <h1 class="form-heading">Register new account</h1>

    <form method="post">
        <div class="form-group form-width">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Register</button>
        </div>
    </form>
    {% endif %}
    <br>
</div>
{% endblock content %}