{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>Page Not Found</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card mb-3 mt-5">
        <div class="row g-0">

            <h5 class="card-header">Page Not Found</h5>
            <div class="card-body">
                <h5 class="card-title">Oops! Page Not Found</h5>
                <p class="card-text">The page you're looking for doesn't exist.
                    Let's get you back on track:</p>
                <a href="/" class="btn btn-outline-success">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}