{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    {% block title %}
    <!-- Title Goes here -->
    {% endblock title %}


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap"
          rel="stylesheet">

    <link href="{% static 'img/favicon.png' %}" type="image/x-icon" rel="icon">

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/fb168f9df2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

<!-- Navigation -->

<nav class="navbar navbar-expand-lg dark-bg">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="brand logo-orange">travel bl<span
                    class="blue-globe"><i
                    class="fa-solid fa-globe globe-icon"></i></span>g</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white link-nav-footer"
                       aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white link-nav-footer"
                       href="{% url 'create-post' %}">New post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white link-nav-footer" href="#"
                       id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My posts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                               href="{% url 'draft-list' user.username %}">
                            Drafts ({{ num_draft_posts }})</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'moderation-list' user.username %}">Awaiting
                            moderation ({{ num_moderated_posts }})</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'published-list' user.username %}">Published
                            ({{ num_published_posts }})</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white link-nav-footer" href="#"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        My profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.userprofile %}
                        <li><a class="dropdown-item"
                               href="{% url 'author-bio' author_name=user %}">Show
                            profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-profile' username=user.username %}">Update
                            profile</a></li>
                        <li>
                            {% else %}
                        <li><a class="dropdown-item"
                               href="{% url 'create-profile' username=user.username %}">Create
                            profile</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'edit-details' %}">Edit
                            details</a></li>
                        <li><a class="dropdown-item" href="{% url 'change-password' %}">Change
                            password</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link link-nav-footer"
                       href="{% url 'logout' %}">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white link-nav-footer" href="{% url 'about' %}">About us</a>
                </li>

                <li class="hello-user nav-link">hello, {{user.username}}</li>
                {% else %}
                <li class="nav-item  text-white">
                    <a class="nav-link text-white link-nav-footer"
                       href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white link-nav-footer"
                       href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white link-nav-footer" href="{% url 'about' %}">About us</a>
                </li>
                <li class="hello-user nav-link">hello, guest user</li>
                {% endif %}
            </ul>

            <form class="d-flex" method=POST action="{% url 'search-country' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search country info" aria-label="Search"
                       name="searched-country">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

<main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</main>

<!-- Footer -->
<footer class="footer mt-auto py-3 dark-bg">
    <p class="text-center"><a href="{% url 'home' %}"
                              class="text-white text-decoration-none link-nav-footer">&copy;
        2023 travel
        blog</a></p>
    <p class="m-0 text-center text-white">Follow us:
        <a href="https://www.facebook.com/" class="link-nav-footer follow-us"
           target="_blank"><i class="fa-brands fa-square-facebook ms-3"></i></a>
        <a href="https://twitter.com/" class="link-nav-footer follow-us"
           target="_blank"><i class="fa-brands fa-square-x-twitter ms-3"></i></a>
        <a href="https://www.instagram.com/" class="link-nav-footer follow-us"
           target="_blank"><i class="fa-brands fa-square-instagram ms-3"></i></a>
        <a href="https://www.linkedin.com/" class="link-nav-footer follow-us"
           target="_blank"><i class="fa-brands fa-linkedin ms-3"></i>
        </a>
</footer>
</body>

</html>